In [1]:
## Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime as dt
import plotly.express as px

## Import functions made specifically for this project
from capstone_functions import *
from plotly_year_functions import *

In [2]:
## Set options for displaying Pandas DataFrames
pd.options.display.max_columns = 100
pd.options.display.max_rows = 120

In [3]:
## Load in voter registration data for Union County
uc_vreg = pd.read_table('Data/ncvoter90_Jan4.zip', encoding='ISO-8859-1')
uc_vreg.head()

,county_id,county_desc,voter_reg_num,status_cd,voter_status_desc,reason_cd,voter_status_reason_desc,absent_ind,name_prefx_cd,last_name,first_name,middle_name,name_suffix_lbl,res_street_address,res_city_desc,state_cd,zip_code,mail_addr1,mail_addr2,mail_addr3,mail_addr4,mail_city,mail_state,mail_zipcode,full_phone_number,race_code,ethnic_code,party_cd,gender_code,birth_age,birth_state,drivers_lic,registr_dt,precinct_abbrv,precinct_desc,municipality_abbrv,municipality_desc,ward_abbrv,ward_desc,cong_dist_abbrv,super_court_abbrv,judic_dist_abbrv,nc_senate_abbrv,nc_house_abbrv,county_commiss_abbrv,county_commiss_desc,township_abbrv,township_desc,school_dist_abbrv,school_dist_desc,fire_dist_abbrv,fire_dist_desc,water_dist_abbrv,water_dist_desc,sewer_dist_abbrv,sewer_dist_desc,sanit_dist_abbrv,sanit_dist_desc,rescue_dist_abbrv,rescue_dist_desc,munic_dist_abbrv,munic_dist_desc,dist_1_abbrv,dist_1_desc,dist_2_abbrv,dist_2_desc,confidential_ind,birth_year,ncid,vtd_abbrv,vtd_desc
0,90,UNION,346446,A,ACTIVE,AV,VERIFIED,,,AALAEI,ARIO,NaN,NaN,4009 MILLBRIDGE PKWY,WAXHAW,NC,28173.0,4009 MILLBRIDGE PKWY,NaN,NaN,NaN,WAXHAW,NC,28173,NaN,W,NL,UNA,M,47,OC,Y,04/25/2019,020A,020A,5.0,WAXHAW,NaN,NaN,9.0,20B,20C,35.0,68.0,NaN,NaN,NaN,NaN,2.0,SCHOOL #2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,WAXHAW,30.0,30TH PROSECUTORIAL,,,N,1974,EF230133,020A,020A
1,90,UNION,348004,A,ACTIVE,AV,VERIFIED,,,AALAEI,KAVITHA,NaN,NaN,4009 MILLBRIDGE PKWY,WAXHAW,NC,28173.0,4009 MILLBRIDGE PKWY,NaN,NaN,NaN,WAXHAW,NC,28173,NaN,A,NL,DEM,F,47,OC,Y,06/24/2019,020A,020A,5.0,WAXHAW,NaN,NaN,9.0,20B,20C,35.0,68.0,NaN,NaN,NaN,NaN,2.0,SCHOOL #2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,WAXHAW,30.0,30TH PROSECUTORIAL,,,N,1974,EF231096,020A,020A
2,90,UNION,281016,A,ACTIVE,AV,VERIFIED,,,AALBORG,ALEXIS,LEANN,NaN,1001 STEVENS PRIDE CT,INDIAN TRAIL,NC,28079.0,1001 STEVENS PRIDE CT,NaN,NaN,NaN,INDIAN TRAIL,NC,28079,NaN,W,NL,UNA,F,27,IA,Y,11/04/2013,029A,029A,6.0,INDIAN TRAIL,NaN,NaN,9.0,20B,20C,35.0,68.0,NaN,NaN,NaN,NaN,3.0,SCHOOL #3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,INDIAN TRAIL,30.0,30TH PROSECUTORIAL,,,N,1994,AL261840,029A,029A
3,90,UNION,288489,A,ACTIVE,AV,VERIFIED,,,AALBORG,BRYAN,LEE,NaN,1001 STEVENS PRIDE CT,INDIAN TRAIL,NC,28079.0,1001 STEVENS PRIDE CT,NaN,NaN,NaN,INDIAN TRAIL,NC,28079,NaN,W,UN,UNA,M,63,OK,Y,09/17/2014,029A,029A,6.0,INDIAN TRAIL,NaN,NaN,9.0,20B,20C,35.0,68.0,NaN,NaN,NaN,NaN,3.0,SCHOOL #3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,INDIAN TRAIL,30.0,30TH PROSECUTORIAL,,,N,1958,AL178177,029A,029A
4,90,UNION,279308,A,ACTIVE,AV,VERIFIED,,,AALBORG,SHARON,SCHLEENBAKER,NaN,1001 STEVENS PRIDE CT,INDIAN TRAIL,NC,28079.0,1001 STEVENS PRIDE CT,NaN,NaN,NaN,INDIAN TRAIL,NC,28079,NaN,W,NL,REP,F,63,PA,Y,07/24/2013,029A,029A,6.0,INDIAN TRAIL,NaN,NaN,9.0,20B,20C,35.0,68.0,NaN,NaN,NaN,NaN,3.0,SCHOOL #3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,INDIAN TRAIL,30.0,30TH PROSECUTORIAL,,,N,1958,AL193958,029A,029A

In [4]:
## Check metadata for voter registration dataframe
uc_vreg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185008 entries, 0 to 185007
Data columns (total 71 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   county_id                 185008 non-null  int64
 1   county_desc               185008 non-null  object
 2   voter_reg_num             185008 non-null  int64
 3   status_cd                 185008 non-null  object
 4   voter_status_desc         185008 non-null  object
 5   reason_cd                 185008 non-null  object
 6   voter_status_reason_desc  185008 non-null  object
 7   absent_ind                185008 non-null  object
 8   name_prefx_cd             185008 non-null  object
 9   last_name                 185004 non-null  object
 10  first_name                185005 non-null  object
 11  middle_name               169910 non-null  object
 12  name_suffix_lbl           21203 non-null   object
 13  res_street_address        185008 non-null  object
 14  res_city_desc             171451 non-null  object
 15  state_cd                  171451 non-null  object
 16  zip_code                  171451 non-null  float64
 17  mail_addr1                185005 non-null  object
 18  mail_addr2                15384 non-null   object
 19  mail_addr3                14633 non-null   object
 20  mail_addr4                14636 non-null   object
 21  mail_city                 185005 non-null  object
 22  mail_state                185005 non-null  object
 23  mail_zipcode              185005 non-null  object
 24  full_phone_number         323 non-null     float64
 25  race_code                 185008 non-null  object
 26  ethnic_code               185008 non-null  object
 27  party_cd                  185008 non-null  object
 28  gender_code               185008 non-null  object
 29  birth_age                 185008 non-null  int64
 30  birth_state               139162 non-null  object
 31  drivers_lic               185008 non-null  object
 32  registr_dt                185008 non-null  object
 33  precinct_abbrv            170098 non-null  object
 34  precinct_desc             170098 non-null  object
 35  municipality_abbrv        115017 non-null  float64
 36  municipality_desc         115017 non-null  object
 37  ward_abbrv                0 non-null       float64
 38  ward_desc                 0 non-null       float64
 39  cong_dist_abbrv           170098 non-null  float64
 40  super_court_abbrv         170098 non-null  object
 41  judic_dist_abbrv          170098 non-null  object
 42  nc_senate_abbrv           170098 non-null  float64
 43  nc_house_abbrv            170098 non-null  float64
 44  county_commiss_abbrv      0 non-null       float64
 45  county_commiss_desc       0 non-null       float64
 46  township_abbrv            0 non-null       float64
 47  township_desc             0 non-null       float64
 48  school_dist_abbrv         170098 non-null  float64
 49  school_dist_desc          170098 non-null  object
 50  fire_dist_abbrv           0 non-null       float64
 51  fire_dist_desc            0 non-null       float64
 52  water_dist_abbrv          0 non-null       float64
 53  water_dist_desc           0 non-null       float64
 54  sewer_dist_abbrv          0 non-null       float64
 55  sewer_dist_desc           0 non-null       float64
 56  sanit_dist_abbrv          0 non-null       float64
 57  sanit_dist_desc           0 non-null       float64
 58  rescue_dist_abbrv         0 non-null       float64
 59  rescue_dist_desc          0 non-null       float64
 60  munic_dist_abbrv          115017 non-null  float64
 61  munic_dist_desc           115017 non-null  object
 62  dist_1_abbrv              170098 non-null  float64
 63  dist_1_desc               170098 non-null  object
 64  dist_2_abbrv              185008 non-null  object
 65  dist_2_desc               185008 non-null  object
 66  confidential_ind          185008 non-null  object
 67  birth_year                185008 non-null  int64
 68  ncid                      185008 non-null  object
 69  vtd_abbrv                 170098 non-null  object
 70  vtd_desc                  170098 non-null  object
dtypes: float64(25), int64(4), object(42)
memory usage: 100.2+ MB

In [5]:
## Check for duplicate entries in voter registration data
uc_vreg.duplicated().sum()

0

In [6]:
## Check number of unique individuals represented in voter reg records
uc_vreg['ncid'].nunique()

185008

In [7]:
## Recast registr_dt as datetime variable
uc_vreg['registr_dt'] = pd.to_datetime(uc_vreg['registr_dt'])

## Fill null values in birth_state with 'Missing'
uc_vreg['birth_state'].fillna(value='Missing', inplace=True)

In [8]:
## Create new column grouping most infrequent party categories (<5% of voters)
  ## into same group as those who are unaffiliated
uc_vreg['party_grp'] = np.where(uc_vreg['party_cd'].isin(['REP', 'DEM']),
                                uc_vreg['party_cd'].str.title(), 'Other')

## Check distribution
check_unique('party_grp', uc_vreg)

In [9]:
## Create new column grouping most infrequent race categories (<5% of voters)
uc_vreg['race_grp'] = np.where(uc_vreg['race_code'].isin(['W', 'B', 'U']),
                               uc_vreg['race_code'], 'O')
race_grp_map = {'W': 'White',
                'B': 'Black',
                'U': 'Undesig.',
                'O': 'Other'}
uc_vreg['race_grp'] = uc_vreg['race_grp'].map(race_grp_map)

## Check distribution
check_unique('race_grp', uc_vreg)

In [10]:
## Create new column grouping most infrequent cities (<5% of voters)
uc_vreg['city_grp'] = np.where(uc_vreg['res_city_desc'].isin(['MONROE', 
                                                              'WAXHAW',
                                                              'INDIAN TRAIL',
                                                              'MATTHEWS']),
                                uc_vreg['res_city_desc'].str.title(), 'Other')

## Check distribution
check_unique('city_grp', uc_vreg)

In [11]:
## Create a function for grouping birth_state into U.S. Census regions, 
  ## also lumping territories and out of country into 'Other'
def get_birth_reg_census_other(state):
    
    if state in ['AS', 'GU', 'MP', 'PR', 'VI', 'OC']:
        return 'Other'
    
    # the rest of the categories are based on U.S. Census Bureau regions
    elif state in ['CT', 'ME', 'MA', 'NH', 'RI', 'VT',
                     'NJ', 'NY', 'PA']:
        return 'Northeast'
    
    elif state in ['DE', 'FL', 'GA', 'MD', 'NC', 'SC', 'VA', 
                     'DC', 'WV', 'AL', 'KY', 'MS', 'TN', 'AR',
                     'LA', 'OK', 'TX']:
        return 'South'
    
    elif state in ['IL', 'IN', 'MI', 'OH', 'WI',
                     'IA', 'KS', 'MN', 'MO', 'NE', 'ND', 'SD']:
        return 'Midwest'
    
    elif state in ['AZ', 'CO', 'ID', 'MT', 'NV', 'NM', 'UT',
                     'WY', 'AK', 'CA', 'HI', 'OR', 'WA']:
        return 'West'
    
    else:
        return 'Missing'

## Create a new column grouping birth_state into U.S. Census regions,
  ## this time lumping territories and out of country into 'Other'
uc_vreg['birth_reg_other'] = uc_vreg['birth_state'].apply(get_birth_reg_census_other)
check_unique('birth_reg_other', uc_vreg)

In [12]:
## Create a function for grouping birth_year into generations, 
  ## also lumping Silent in with Greatest
def get_gen_grp(birth_year):
    
    if birth_year < 1946:
        return 'Greatest-Silent'
    
    elif (birth_year > 1945) & (birth_year < 1965):
        return 'Boomer'
    
    elif (birth_year > 1964) & (birth_year < 1981):
        return 'GenX'
    
    elif (birth_year > 1980) & (birth_year < 1997):
        return 'Millennial'
    
    elif birth_year > 1996:
        return 'GenZ'

## Create a new column grouping birth_year into generations, 
  ## also lumping Silent in with Greatest
uc_vreg['gen_grp'] = uc_vreg['birth_year'].apply(get_gen_grp)
check_unique('gen_grp', uc_vreg)

In [14]:
## Reformat voter_status_desc labels
uc_vreg['voter_status_desc'] = np.where(
    uc_vreg['voter_status_desc']=='TEMPORARY',
                                'Temp', uc_vreg['voter_status_desc'].str.title()
)

## Check distribution
check_unique('voter_status_desc', uc_vreg)

In [17]:
## Check distribution
check_unique('reason_cd', uc_vreg)

In [18]:
uc_vreg = uc_vreg[['voter_status_desc', 'reason_cd', 'city_grp', 
                   'race_grp', 'party_grp', 'gen_grp', 'gender_code', 
                   'birth_age', 'birth_reg_other', 'drivers_lic',
                   'registr_dt']].copy()
uc_vreg.head()

,voter_status_desc,reason_cd,city_grp,race_grp,party_grp,gen_grp,gender_code,birth_age,birth_reg_other,drivers_lic,registr_dt
0,Active,AV,Waxhaw,White,Other,GenX,M,47,Other,Y,2019-04-25
1,Active,AV,Waxhaw,Other,Dem,GenX,F,47,Other,Y,2019-06-24
2,Active,AV,Indian Trail,White,Other,Millennial,F,27,Midwest,Y,2013-11-04
3,Active,AV,Indian Trail,White,Other,Boomer,M,63,South,Y,2014-09-17
4,Active,AV,Indian Trail,White,Rep,Boomer,F,63,Northeast,Y,2013-07-24